html {

    margin: 0 100px 0 100px;
  background-color: #3385FF;
}

a:visited {
    color: #00FF00;
}

a:link {
    color: #FF0000;
}

a:hover {
    color: #FF00FF;
}

h1  {font-family: verdana;
      color: white}

#white {font-family: verdana;
      color: white}

.red {font-family: verdana;
      color: maroon; font-weight: bold;}


/* #rainbow {
    background: red; /* not working, let's see some red */
   /* background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom,
        color-stop(0%, rgba(255, 0, 0, 1)),
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

#rainbow {
    width: 100%;
    height: 100%;
}
