<head>
  <link rel="stylesheet" type="text/css" href="../public/centerss/application.css">
</head>
<div align="center" width="500">
<p align="center"><img src= "http://24.media.tumblr.com/tumblr_lofb22y0k21r0276wo1_500.gif" height="200" width="1000" ></p>

<h1> Meet some of your fellow signed up Countries here </h1>

<% @friends.each do |country| %>
   <h3 class='red'> <%= country.username %> </h3>
   <hr>
     <% end %>

<p> Return Home </p>
<form action='/' method='get'>
  <input type="Submit" value="Go Home, You're drunk">
</form>


<p> Log - Out </p>
<form action='/logout' method='post'>
  <input type="Submit" value="Stop sharing intimate details for a while">
</form>
</div>
