<DOCTYPE='html'>

<H1> Welcome to the iiIii network </H1>


<p> Log - In </p>
<a href="/login.erb" class="button">Tell GCSB You're online</a>
<p> Sign-up </p>
<a href="/login.erb" class="button">Give GCSB personal details</a>
<p> Log - Out </p>
<a href="/login.erb" class="button">
  Stop sharing intimate details for now</a>
