<head>
<link rel="stylesheet" type="text/css" href="../public/css/application.css">
</head>
<div id='rainbow'>
  <style>
body {background-color:#3385FF}
    h1   {font-family: verdana;
      color: white;}
</style>
<h1> Welcome to the iiIii network </h1>


<h2> Sign-up Here</h2>
<a href="/sign_up">Give GCSB personal details</a>

<p> Log - In </p>
<form action='/login' method='post'>
            <input type='text' placeholder='Tell us who you are' name='user_name'>
             <input type='password' placeholder='Password' name='access_code'>
            <input type="Submit" value="Tell GCSB you're on-line">
          </form>


<p> Log - Out </p>
<form action='/logout' method='post'>
            <input type="Submit" value="Stop sharing intimate details for a while">
          </form>
</div>
