
<div align="center" width="500">
  <% @user_array = [] %>
  <% @blink_array = [] %>
<% if @current_user %>
  <h1> Congrats on loggin in, <%= @current_user.username %> </h1>
<%end%>

<table>
  <tr>
    <td>
      <p>Here are some sweet blinks, all of these have been recorded and sent to the U.S.A for "analysis"<p>
    </td>
  </tr>
  <tr>
  </tr>
</table>

<hr>
  <form action='/blink' method='post'>
    <input size='40' type='text' placeholder='Share your secrets here!' maxlength="140" name='new_blink'>
    <input type="Submit" value="Tell the world.">
  </form>
  <% @wall_of_blinks.each do |entry| %>
    <% eye = @eyes.find{ |user| user.id == entry.user_id} %>
     <% @user_array << eye.username %>
     <% @blink_array << entry.blink_text %>
     <% end %>
     <% @user_array.length.times do %>
    <p> <%= @user_array.pop %>: <%= @blink_array.pop %> </p>
    <% end %>

<hr>

<p> See "Friends" </p>
<form action='/current_friends' method='get'>
  <input type="Submit" value="See who else was silly enough to sign up">
</form>


<p> Log - Out </p>
<form action='/logout' method='post'>
  <input type="Submit" value="Stop sharing intimate details for a while">
</form>
</div>
