<H1> Congrats on loggin in comrade, <% user_name %> </H1>

<table>
  <tr>
    <td> Here are some sweet blinks, all of these have been recorded and sent to the U.S.A for "analysis"</td>
    </tr>
    <tr>
      <td><% sweet ruby code for grabbing every blink from a users table using each do and stuff, whoop whoop %>
</td>
</tr>
</table>

<a href="/login.erb" class="button">
  Stop sharing intimate details for now</a>
