<H1> Congrats on loggin in comrade,</H1>

<table>
  <tr>
    <td> <p>Here are some sweet blinks, all of these have been recorded and sent to the U.S.A for "analysis"<p></td>
    </tr>
    <tr>

</tr>
</table>

<hr>




<form action='/blink' method='post'>
            <input size='40' type='text' placeholder='Share your secrets here!' maxlength="140" name='new_blink'>
            <input type="Submit" value="Tell the world.">
          </form>

    <% @wall_of_blinks.each do |entry| %>
      <p>  <%= entry.blink_text %></p>
    <% end %>


<hr>

<p> Log - Out </p>
<form action='/logout' method='post'>
            <input type="Submit" value="Stop sharing intimate details for a while">
          </form>
